Repository apache/pulsar-client-node, pull requests merged in 2023-01, with the labels that each got.

#279 Bump the master version to 1.9.0
  package-lock.json
  package.json
Labels: type/task

#285 Fix an issue where the latest client does not work on Rocky Linux 8
  pkg/linux/Dockerfile_linux_glibc
  pkg/linux/download-cpp-client.sh
Labels: type/bug, component/build, no-need-doc

#287 Add Versioning Rule to Release Process
  docs/release-process.md
Labels: doc

#278 [improve][client] Add schema typing to consumer and producer
  index.d.ts
  tstest.ts
Labels: type/enhancement
